.main-container {
  display: flex;
  flex-wrap: wrap;
  width:350px;
}

.box {
  border: 1px solid #000000;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.active {
  background: red;
}

.cancel {
  background: red;
  opacity: 0.7;
}

.none {
  display: none;
}
