<div class="main-container">
  <div class="box" (click)="activeCircle(1)">
    <div [ngClass]="{'active': circle1 === 'active', 'cancel': circle1 === 'cancel', 'none': circle1 === 'none'}"
      class="circle"></div>
  </div>

  <div class="box" (click)="activeCircle(2)">
    <div [ngClass]="{'active': circle2 === 'active', 'cancel': circle2 === 'cancel', 'none': circle2 === 'none'}"
      class="circle"></div>
  </div>

  <div class="box" (click)="activeCircle(3)">
    <div [ngClass]="{'active': circle3 === 'active', 'cancel': circle3 === 'cancel', 'none': circle3 === 'none'}"
      class="circle"></div>
  </div>

  <div class="box" (click)="activeCircle(4)">
    <div [ngClass]="{'active': circle4 === 'active', 'cancel': circle4 === 'cancel', 'none': circle4 === 'none'}"
      class="circle"></div>
  </div>
</div>